<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script>
        $(document).ready( function(){
            const socket = io();

            //submit text message without reload/refresh the page
            $('form').submit( function(e){
                e.preventdefault();
                $('#text').val('');
                return false;
            })
            //append the chat text message
            socket.on('chat_message', (msg) =>{
                $('#messsage').append($('<li>').html(msg));
            })
            //append text if someone is online
            socket.on('is_online', (username) => {
                $('#message').append($('<li>').html(username));
            })
            //ask username
            var username = prompt('Please tell me your name');
            socket.emit('username', username);
        })
    </script>
</head>
<body>
    <div class="content">
        <h1>Group Chat</h1>
        <ul id="message"></ul>
        <form action="/" method="post" id="chatRoom">
            <input type="text" name="text" id="text" oninput="isTyping()" placeholder="type your message here.. .">
            <button class="btn">Send</button>
        </form> 
    </div>
</body>
</html>